# Summary of models from Deep Learning Benchmarking Suite

Full list of models is [here](https://hewlettpackard.github.io/dlcookbook-dlbs/#/models/models?id=models). From high level point of view:
1. FLOPS are multiply-add operations in dense and convolutional layers.
2. Algorithm for estimating memory requirements is very naive and will be updated.
3. Memory for training is approximately twice of inference memory.
3. FLOPS:
   ```
   gFLOPS(backward) = 2 * gFLOPs(forward)
   gFLOPS(training) = 3 * gFLOPs(forward)
   ```
4. FLOPs and memory are provided for one instance (== batch size is 1).

Click for [summary](#Summary). Or see below for details.

**Models**
1.  [English acoustic model](#English-acoustic-model)
2.  [AlexNet](#AlexNet)
3.  [AlexNet OWT](#AlexNetOWT)
4.  [Deep MNIST](#DeepMNIST)
5.  [VGG-11](#VGG11)
6.  [VGG-13](#VGG13)
7.  [VGG-16](#VGG16)
8.  [VGG-19](#VGG19)
9.  [Overfeat](#Overfeat)
10. [ResNet-18](#ResNet18)
11. [ResNet-34](#ResNet34)
12. [ResNet-50](#ResNet50)
13. [ResNet-101](#ResNet101)
14. [ResNet-152](#ResNet152)
15. [ResNet-200](#ResNet200)
16. [ResNet-269](#ResNet269)

In [1]:
import os, sys
import pandas as pd
sys.path.insert(0, os.path.join(os.path.dirname(os.path.abspath('')), 'python'))
from nns.nns import ModelSummary, reset_keras, printable_dataframe, estimate
from nns import dlbs_models as models

In [2]:
# Inference and training model summaries - name, shapes, parameters, gFLOPs, activations. Each element is a
# dictionary. I will later convert that into Pandas data frame and will print that.
inference = []
training = []

### [English acoustic model](http://ethereon.github.io/netscope/#/gist/10f5dee56b6f7bbb5da26749bd37ae16)

In [3]:
estimate(models.EnglishAcousticModel(), inference, training)

,name,out_shape,gFLOPs,num_params,num_activations,params_mem (MB),activations_mem (MB)
0,input,"(540,)",0.000000,0,540,0.000000,0.002160
1,dense1,"(2048,)",0.001106,1107968,4096,4.431872,0.016384
2,dense2,"(2048,)",0.004194,4196352,4096,16.785408,0.016384
3,dense3,"(2048,)",0.004194,4196352,4096,16.785408,0.016384
4,dense4,"(2048,)",0.004194,4196352,4096,16.785408,0.016384
5,dense5,"(2048,)",0.004194,4196352,4096,16.785408,0.016384
6,dense6,"(8192,)",0.016777,16785408,16384,67.141632,0.065536
7,TOTAL,"(8192,)",0.034660,34678784,37404,138.715136,0.149616

### [AlexNet](http://ethereon.github.io/netscope/#/gist/5c94a074f4e4ac4b81ee28a796e04b5d)

In [4]:
estimate(models.AlexNet(), inference, training)

,name,out_shape,gFLOPs,num_params,num_activations,params_mem (MB),activations_mem (MB)
0,input,"(227, 227, 3)",0.000000,0,154587,0.000000,0.618348
1,conv1,"(55, 55, 96)",0.105415,34944,580800,0.139776,2.323200
2,max_pooling2d,"(27, 27, 96)",0.000000,0,69984,0.000000,0.279936
3,conv2,"(27, 27, 256)",0.447898,614656,373248,2.458624,1.492992
4,max_pooling2d_1,"(13, 13, 256)",0.000000,0,43264,0.000000,0.173056
5,conv3,"(13, 13, 384)",0.149520,885120,129792,3.540480,0.519168
6,conv4,"(13, 13, 384)",0.224281,1327488,129792,5.309952,0.519168
7,conv5,"(13, 13, 256)",0.149520,884992,86528,3.539968,0.346112
8,max_pooling2d_2,"(6, 6, 256)",0.000000,0,9216,0.000000,0.036864
9,flatten,"(9216,)",0.000000,0,9216,0.000000,0.036864
10,fc6,"(4096,)",0.037749,37752832,8192,151.011328,0.032768
11,dropout,"(4096,)",0.000000,0,4096,0.000000,0.016384
12,fc7,"(4096,)",0.016777,16781312,8192,67.125248,0.032768
13,dropout_1,"(4096,)",0.000000,0,4096,0.000000,0.016384
14,fc8,"(1000,)",0.004096,4097000,2000,16.388000,0.008000
15,TOTAL,"(1000,)",1.135256,62378344,1613003,249.513376,6.452012

### [AlexNetOWT](http://ethereon.github.io/netscope/#/gist/dc85cc15d59d720c8a18c4776abc9fd5)

In [5]:
estimate(models.AlexNet(version='owt'), inference, training)

,name,out_shape,gFLOPs,num_params,num_activations,params_mem (MB),activations_mem (MB)
0,input,"(227, 227, 3)",0.000000,0,154587,0.000000,0.618348
1,conv1,"(55, 55, 64)",0.070277,23296,387200,0.093184,1.548800
2,max_pooling2d,"(27, 27, 64)",0.000000,0,46656,0.000000,0.186624
3,conv2,"(27, 27, 192)",0.223949,307392,279936,1.229568,1.119744
4,max_pooling2d_1,"(13, 13, 192)",0.000000,0,32448,0.000000,0.129792
5,conv3,"(13, 13, 384)",0.112140,663936,129792,2.655744,0.519168
6,conv4,"(13, 13, 256)",0.149520,884992,86528,3.539968,0.346112
7,conv5,"(13, 13, 256)",0.099680,590080,86528,2.360320,0.346112
8,max_pooling2d_2,"(6, 6, 256)",0.000000,0,9216,0.000000,0.036864
9,flatten,"(9216,)",0.000000,0,9216,0.000000,0.036864
10,fc6,"(4096,)",0.037749,37752832,8192,151.011328,0.032768
11,dropout,"(4096,)",0.000000,0,4096,0.000000,0.016384
12,fc7,"(4096,)",0.016777,16781312,8192,67.125248,0.032768
13,dropout_1,"(4096,)",0.000000,0,4096,0.000000,0.016384
14,fc8,"(1000,)",0.004096,4097000,2000,16.388000,0.008000
15,TOTAL,"(1000,)",0.714188,61100840,1248683,244.403360,4.994732

### [DeepMNIST](http://ethereon.github.io/netscope/#/gist/9c75cd95891207082bd42264eb7a2706)

In [6]:
estimate(models.DeepMNIST(), inference, training)

,name,out_shape,gFLOPs,num_params,num_activations,params_mem (MB),activations_mem (MB)
0,input,"(28, 28, 1)",0.000000,0,784,0.00000,0.003136
1,flatten,"(784,)",0.000000,0,784,0.00000,0.003136
2,dense1,"(2500,)",0.001960,1962500,5000,7.85000,0.020000
3,dense2,"(2000,)",0.005000,5002000,4000,20.00800,0.016000
4,dense3,"(1500,)",0.003000,3001500,3000,12.00600,0.012000
5,dense4,"(1000,)",0.001500,1501000,2000,6.00400,0.008000
6,dense5,"(500,)",0.000500,500500,1000,2.00200,0.004000
7,dense6,"(10,)",0.000005,5010,20,0.02004,0.000080
8,TOTAL,"(10,)",0.011965,11972510,16588,47.89004,0.066352

### [VGG11](http://ethereon.github.io/netscope/#/gist/5550b93fb51ab63d520af5be555d691f)

In [7]:
estimate(models.VGG(version='vgg11'), inference, training)

,name,out_shape,gFLOPs,num_params,num_activations,params_mem (MB),activations_mem (MB)
0,input,"(224, 224, 3)",0.000000,0,150528,0.000000,0.602112
1,conv1_1,"(224, 224, 64)",0.086704,1792,6422528,0.007168,25.690112
2,pool1,"(112, 112, 64)",0.000000,0,802816,0.000000,3.211264
3,conv2_1,"(112, 112, 128)",0.924844,73856,3211264,0.295424,12.845056
4,pool2,"(56, 56, 128)",0.000000,0,401408,0.000000,1.605632
5,conv3_1,"(56, 56, 256)",0.924844,295168,1605632,1.180672,6.422528
6,conv3_2,"(56, 56, 256)",1.849688,590080,1605632,2.360320,6.422528
7,pool3,"(28, 28, 256)",0.000000,0,200704,0.000000,0.802816
8,conv4_1,"(28, 28, 512)",0.924844,1180160,802816,4.720640,3.211264
9,conv4_2,"(28, 28, 512)",1.849688,2359808,802816,9.439232,3.211264
10,pool4,"(14, 14, 512)",0.000000,0,100352,0.000000,0.401408
11,conv5_1,"(14, 14, 512)",0.462422,2359808,200704,9.439232,0.802816
12,conv5_2,"(14, 14, 512)",0.462422,2359808,200704,9.439232,0.802816
13,pool5,"(7, 7, 512)",0.000000,0,25088,0.000000,0.100352
14,flatten,"(25088,)",0.000000,0,25088,0.000000,0.100352
15,fc6,"(4096,)",0.102760,102764544,8192,411.058176,0.032768
16,dropout6,"(4096,)",0.000000,0,4096,0.000000,0.016384
17,fc7,"(4096,)",0.016777,16781312,8192,67.125248,0.032768
18,dropout7,"(4096,)",0.000000,0,4096,0.000000,0.016384
19,fc8,"(1000,)",0.004096,4097000,2000,16.388000,0.008000
20,TOTAL,"(1000,)",7.609090,132863336,16584656,531.453344,66.338624

### [VGG13](http://ethereon.github.io/netscope/#/gist/a96ba317064a61b22a1742bd05c54816)

In [8]:
estimate(models.VGG(version='vgg13'), inference, training)

,name,out_shape,gFLOPs,num_params,num_activations,params_mem (MB),activations_mem (MB)
0,input,"(224, 224, 3)",0.000000,0,150528,0.000000,0.602112
1,conv1_1,"(224, 224, 64)",0.086704,1792,6422528,0.007168,25.690112
2,conv1_2,"(224, 224, 64)",1.849688,36928,6422528,0.147712,25.690112
3,pool1,"(112, 112, 64)",0.000000,0,802816,0.000000,3.211264
4,conv2_1,"(112, 112, 128)",0.924844,73856,3211264,0.295424,12.845056
5,conv2_2,"(112, 112, 128)",1.849688,147584,3211264,0.590336,12.845056
6,pool2,"(56, 56, 128)",0.000000,0,401408,0.000000,1.605632
7,conv3_1,"(56, 56, 256)",0.924844,295168,1605632,1.180672,6.422528
8,conv3_2,"(56, 56, 256)",1.849688,590080,1605632,2.360320,6.422528
9,pool3,"(28, 28, 256)",0.000000,0,200704,0.000000,0.802816
10,conv4_1,"(28, 28, 512)",0.924844,1180160,802816,4.720640,3.211264
11,conv4_2,"(28, 28, 512)",1.849688,2359808,802816,9.439232,3.211264
12,pool4,"(14, 14, 512)",0.000000,0,100352,0.000000,0.401408
13,conv5_1,"(14, 14, 512)",0.462422,2359808,200704,9.439232,0.802816
14,conv5_2,"(14, 14, 512)",0.462422,2359808,200704,9.439232,0.802816
15,pool5,"(7, 7, 512)",0.000000,0,25088,0.000000,0.100352
16,flatten,"(25088,)",0.000000,0,25088,0.000000,0.100352
17,fc6,"(4096,)",0.102760,102764544,8192,411.058176,0.032768
18,dropout6,"(4096,)",0.000000,0,4096,0.000000,0.016384
19,fc7,"(4096,)",0.016777,16781312,8192,67.125248,0.032768
20,dropout7,"(4096,)",0.000000,0,4096,0.000000,0.016384
21,fc8,"(1000,)",0.004096,4097000,2000,16.388000,0.008000
22,TOTAL,"(1000,)",11.308466,133047848,26218448,532.191392,104.873792

### [VGG16](http://ethereon.github.io/netscope/#/gist/050efcbb3f041bfc2a392381d0aac671)

In [9]:
estimate(models.VGG(version='vgg16'), inference, training)

,name,out_shape,gFLOPs,num_params,num_activations,params_mem (MB),activations_mem (MB)
0,input,"(224, 224, 3)",0.000000,0,150528,0.000000,0.602112
1,conv1_1,"(224, 224, 64)",0.086704,1792,6422528,0.007168,25.690112
2,conv1_2,"(224, 224, 64)",1.849688,36928,6422528,0.147712,25.690112
3,pool1,"(112, 112, 64)",0.000000,0,802816,0.000000,3.211264
4,conv2_1,"(112, 112, 128)",0.924844,73856,3211264,0.295424,12.845056
5,conv2_2,"(112, 112, 128)",1.849688,147584,3211264,0.590336,12.845056
6,pool2,"(56, 56, 128)",0.000000,0,401408,0.000000,1.605632
7,conv3_1,"(56, 56, 256)",0.924844,295168,1605632,1.180672,6.422528
8,conv3_2,"(56, 56, 256)",1.849688,590080,1605632,2.360320,6.422528
9,conv3_3,"(56, 56, 256)",1.849688,590080,1605632,2.360320,6.422528
10,pool3,"(28, 28, 256)",0.000000,0,200704,0.000000,0.802816
11,conv4_1,"(28, 28, 512)",0.924844,1180160,802816,4.720640,3.211264
12,conv4_2,"(28, 28, 512)",1.849688,2359808,802816,9.439232,3.211264
13,conv4_3,"(28, 28, 512)",1.849688,2359808,802816,9.439232,3.211264
14,pool4,"(14, 14, 512)",0.000000,0,100352,0.000000,0.401408
15,conv5_1,"(14, 14, 512)",0.462422,2359808,200704,9.439232,0.802816
16,conv5_2,"(14, 14, 512)",0.462422,2359808,200704,9.439232,0.802816
17,conv5_3,"(14, 14, 512)",0.462422,2359808,200704,9.439232,0.802816
18,pool5,"(7, 7, 512)",0.000000,0,25088,0.000000,0.100352
19,flatten,"(25088,)",0.000000,0,25088,0.000000,0.100352
20,fc6,"(4096,)",0.102760,102764544,8192,411.058176,0.032768
21,dropout6,"(4096,)",0.000000,0,4096,0.000000,0.016384
22,fc7,"(4096,)",0.016777,16781312,8192,67.125248,0.032768
23,dropout7,"(4096,)",0.000000,0,4096,0.000000,0.016384
24,fc8,"(1000,)",0.004096,4097000,2000,16.388000,0.008000
25,TOTAL,"(1000,)",15.470264,138357544,28827600,553.430176,115.310400

### [VGG19](http://ethereon.github.io/netscope/#/gist/f9e55d5947ac0043973b32b7ff51b778)

In [10]:
estimate(models.VGG(version='vgg19'), inference, training)

,name,out_shape,gFLOPs,num_params,num_activations,params_mem (MB),activations_mem (MB)
0,input,"(224, 224, 3)",0.000000,0,150528,0.000000,0.602112
1,conv1_1,"(224, 224, 64)",0.086704,1792,6422528,0.007168,25.690112
2,conv1_2,"(224, 224, 64)",1.849688,36928,6422528,0.147712,25.690112
3,pool1,"(112, 112, 64)",0.000000,0,802816,0.000000,3.211264
4,conv2_1,"(112, 112, 128)",0.924844,73856,3211264,0.295424,12.845056
5,conv2_2,"(112, 112, 128)",1.849688,147584,3211264,0.590336,12.845056
6,pool2,"(56, 56, 128)",0.000000,0,401408,0.000000,1.605632
7,conv3_1,"(56, 56, 256)",0.924844,295168,1605632,1.180672,6.422528
8,conv3_2,"(56, 56, 256)",1.849688,590080,1605632,2.360320,6.422528
9,conv3_3,"(56, 56, 256)",1.849688,590080,1605632,2.360320,6.422528
10,conv3_4,"(56, 56, 256)",1.849688,590080,1605632,2.360320,6.422528
11,pool3,"(28, 28, 256)",0.000000,0,200704,0.000000,0.802816
12,conv4_1,"(28, 28, 512)",0.924844,1180160,802816,4.720640,3.211264
13,conv4_2,"(28, 28, 512)",1.849688,2359808,802816,9.439232,3.211264
14,conv4_3,"(28, 28, 512)",1.849688,2359808,802816,9.439232,3.211264
15,conv4_4,"(28, 28, 512)",1.849688,2359808,802816,9.439232,3.211264
16,pool4,"(14, 14, 512)",0.000000,0,100352,0.000000,0.401408
17,conv5_1,"(14, 14, 512)",0.462422,2359808,200704,9.439232,0.802816
18,conv5_2,"(14, 14, 512)",0.462422,2359808,200704,9.439232,0.802816
19,conv5_3,"(14, 14, 512)",0.462422,2359808,200704,9.439232,0.802816
20,conv5_4,"(14, 14, 512)",0.462422,2359808,200704,9.439232,0.802816
21,pool5,"(7, 7, 512)",0.000000,0,25088,0.000000,0.100352
22,flatten,"(25088,)",0.000000,0,25088,0.000000,0.100352
23,fc6,"(4096,)",0.102760,102764544,8192,411.058176,0.032768
24,dropout6,"(4096,)",0.000000,0,4096,0.000000,0.016384
25,fc7,"(4096,)",0.016777,16781312,8192,67.125248,0.032768
26,dropout7,"(4096,)",0.000000,0,4096,0.000000,0.016384
27,fc8,"(1000,)",0.004096,4097000,2000,16.388000,0.008000
28,TOTAL,"(1000,)",19.632062,143667240,31436752,574.668960,125.747008

### [Overfeat](http://ethereon.github.io/netscope/#/gist/ebfeff824393bcd66a9ceb851d8e5bde)

In [11]:
estimate(models.Overfeat(), inference, training)

,name,out_shape,gFLOPs,num_params,num_activations,params_mem (MB),activations_mem (MB)
0,input,"(231, 231, 3)",0.000000,0,160083,0.000000,0.640332
1,conv1,"(56, 56, 96)",0.109283,34944,602112,0.139776,2.408448
2,max_pooling2d,"(28, 28, 96)",0.000000,0,75264,0.000000,0.301056
3,conv2,"(24, 24, 256)",0.353894,614656,294912,2.458624,1.179648
4,max_pooling2d_1,"(12, 12, 256)",0.000000,0,36864,0.000000,0.147456
5,conv3,"(12, 12, 512)",0.169869,1180160,147456,4.720640,0.589824
6,conv4,"(12, 12, 1024)",0.679477,4719616,294912,18.878464,1.179648
7,conv5,"(12, 12, 1024)",1.358954,9438208,294912,37.752832,1.179648
8,max_pooling2d_2,"(6, 6, 1024)",0.000000,0,36864,0.000000,0.147456
9,flatten,"(36864,)",0.000000,0,36864,0.000000,0.147456
10,fc6,"(3072,)",0.113246,113249280,6144,452.997120,0.024576
11,dropout,"(3072,)",0.000000,0,3072,0.000000,0.012288
12,fc7,"(4096,)",0.012583,12587008,8192,50.348032,0.032768
13,dropout_1,"(4096,)",0.000000,0,4096,0.000000,0.016384
14,fc8,"(1000,)",0.004096,4097000,2000,16.388000,0.008000
15,TOTAL,"(1000,)",2.801404,145920872,2003747,583.683488,8.014988

### [ResNet18](http://ethereon.github.io/netscope/#/gist/649e0fb6c96c60c9f0abaa339da3cd27)

In [12]:
estimate(models.ResNet(version='resnet18'), inference, training)

Layer not recognized (type=<class 'tensorflow.python.keras.engine.input_layer.InputLayer'>, name=input)

,name,out_shape,gFLOPs,num_params,num_activations,params_mem (MB),activations_mem (MB)
0,input,"(224, 224, 3)",0.000000,0,150528,0.000000,0.602112
1,conv1/conv,"(112, 112, 64)",0.118014,9408,802816,0.037632,3.211264
2,conv1/bn,"(112, 112, 64)",0.000000,128,802816,0.000512,3.211264
3,conv1/relu,"(112, 112, 64)",0.000000,0,802816,0.000000,3.211264
4,conv1/mpool,"(56, 56, 64)",0.000000,0,200704,0.000000,0.802816
5,res1a/branch2a/conv,"(56, 56, 64)",0.115606,36864,200704,0.147456,0.802816
6,res1a/branch2a/bn,"(56, 56, 64)",0.000000,128,200704,0.000512,0.802816
7,res1a/branch2a/relu,"(56, 56, 64)",0.000000,0,200704,0.000000,0.802816
8,res1a/branch1/conv,"(56, 56, 64)",0.012845,4096,200704,0.016384,0.802816
9,res1a/branch2b/conv,"(56, 56, 64)",0.115606,36864,200704,0.147456,0.802816
10,res1a/branch1/bn,"(56, 56, 64)",0.000000,128,200704,0.000512,0.802816
11,res1a/branch2b/bn,"(56, 56, 64)",0.000000,128,200704,0.000512,0.802816
12,res1a/sum,"(56, 56, 64)",0.000000,0,200704,0.000000,0.802816
13,res1a/relu,"(56, 56, 64)",0.000000,0,200704,0.000000,0.802816
14,res1b1/branch2a/conv,"(56, 56, 64)",0.115606,36864,200704,0.147456,0.802816
15,res1b1/branch2a/bn,"(56, 56, 64)",0.000000,128,200704,0.000512,0.802816
16,res1b1/branch2a/relu,"(56, 56, 64)",0.000000,0,200704,0.000000,0.802816
17,res1b1/branch2b/conv,"(56, 56, 64)",0.115606,36864,200704,0.147456,0.802816
18,res1b1/branch2b/bn,"(56, 56, 64)",0.000000,128,200704,0.000512,0.802816
19,res1b1/sum,"(56, 56, 64)",0.000000,0,200704,0.000000,0.802816
20,res1b1/relu,"(56, 56, 64)",0.000000,0,200704,0.000000,0.802816
21,res2a/branch2a/conv,"(28, 28, 128)",0.057803,73728,100352,0.294912,0.401408
22,res2a/branch2a/bn,"(28, 28, 128)",0.000000,256,100352,0.001024,0.401408
23,res2a/branch2a/relu,"(28, 28, 128)",0.000000,0,100352,0.000000,0.401408
24,res2a/branch1/conv,"(28, 28, 128)",0.006423,8192,100352,0.032768,0.401408
25,res2a/branch2b/conv,"(28, 28, 128)",0.115606,147456,100352,0.589824,0.401408
26,res2a/branch1/bn,"(28, 28, 128)",0.000000,256,100352,0.001024,0.401408
27,res2a/branch2b/bn,"(28, 28, 128)",0.000000,256,100352,0.001024,0.401408
28,res2a/sum,"(28, 28, 128)",0.000000,0,100352,0.000000,0.401408
29,res2a/relu,"(28, 28, 128)",0.000000,0,100352,0.000000,0.401408
...,...,...,...,...,...,...,...
43,res3a/branch2b/bn,"(14, 14, 256)",0.000000,512,50176,0.002048,0.200704
44,res3a/sum,"(14, 14, 256)",0.000000,0,50176,0.000000,0.200704
45,res3a/relu,"(14, 14, 256)",0.000000,0,50176,0.000000,0.200704
46,res3b1/branch2a/conv,"(14, 14, 256)",0.115606,589824,50176,2.359296,0.200704
47,res3b1/branch2a/bn,"(14, 14, 256)",0.000000,512,50176,0.002048,0.200704
48,res3b1/branch2a/relu,"(14, 14, 256)",0.000000,0,50176,0.000000,0.200704
49,res3b1/branch2b/conv,"(14, 14, 256)",0.115606,589824,50176,2.359296,0.200704
50,res3b1/branch2b/bn,"(14, 14, 256)",0.000000,512,50176,0.002048,0.200704
51,res3b1/sum,"(14, 14, 256)",0.000000,0,50176,0.000000,0.200704
52,res3b1/relu,"(14, 14, 256)",0.000000,0,50176,0.000000,0.200704
53,res4a/branch2a/conv,"(7, 7, 512)",0.057803,1179648,25088,4.718592,0.100352
54,res4a/branch2a/bn,"(7, 7, 512)",0.000000,1024,25088,0.004096,0.100352
55,res4a/branch2a/relu,"(7, 7, 512)",0.000000,0,25088,0.000000,0.100352
56,res4a/branch1/conv,"(7, 7, 512)",0.006423,131072,25088,0.524288,0.100352
57,res4a/branch2b/conv,"(7, 7, 512)",0.115606,2359296,25088,9.437184,0.100352
58,res4a/branch1/bn,"(7, 7, 512)",0.000000,1024,25088,0.004096,0.100352
59,res4a/branch2b/bn,"(7, 7, 512)",0.000000,1024,25088,0.004096,0.100352
60,res4a/sum,"(7, 7, 512)",0.000000,0,25088,0.000000,0.100352
61,res4a/relu,"(7, 7, 512)",0.000000,0,25088,0.000000,0.100352
62,res4b1/branch2a/conv,"(7, 7, 512)",0.115606,2359296,25088,9.437184,0.100352
63,res4b1/branch2a/bn,"(7, 7, 512)",0.000000,1024,25088,0.004096,0.100352
64,res4b1/branch2a/relu,"(7, 7, 512)",0.000000,0,25088,0.000000,0.100352
65,res4b1/branch2b/conv,"(7, 7, 512)",0.115606,2359296,25088,9.437184,0.100352
66,res4b1/branch2b/bn,"(7, 7, 512)",0.000000,1024,25088,0.004096,0.100352
67,res4b1/sum,"(7, 7, 512)",0.000000,0,25088,0.000000,0.100352
68,res4b1/relu,"(7, 7, 512)",0.000000,0,25088,0.000000,0.100352
69,apool,"(1, 1, 512)",0.000000,0,512,0.000000,0.002048
70,flatten,"(512,)",0.000000,0,512,0.000000,0.002048
71,output,"(1000,)",0.000512,513000,2000,2.052000,0.008000
72,TOTAL,"(1000,)",1.826918,11703464,8783824,46.813856,35.135296

### [ResNet34](http://ethereon.github.io/netscope/#/gist/277a9604370076d8eed03e9e44e23d53)

In [13]:
estimate(models.ResNet(version='resnet34'), inference, training)

Layer not recognized (type=<class 'tensorflow.python.keras.engine.input_layer.InputLayer'>, name=input)

,name,out_shape,gFLOPs,num_params,num_activations,params_mem (MB),activations_mem (MB)
0,input,"(224, 224, 3)",0.000000,0,150528,0.000000,0.602112
1,conv1/conv,"(112, 112, 64)",0.118014,9408,802816,0.037632,3.211264
2,conv1/bn,"(112, 112, 64)",0.000000,128,802816,0.000512,3.211264
3,conv1/relu,"(112, 112, 64)",0.000000,0,802816,0.000000,3.211264
4,conv1/mpool,"(56, 56, 64)",0.000000,0,200704,0.000000,0.802816
5,res1a/branch2a/conv,"(56, 56, 64)",0.115606,36864,200704,0.147456,0.802816
6,res1a/branch2a/bn,"(56, 56, 64)",0.000000,128,200704,0.000512,0.802816
7,res1a/branch2a/relu,"(56, 56, 64)",0.000000,0,200704,0.000000,0.802816
8,res1a/branch1/conv,"(56, 56, 64)",0.012845,4096,200704,0.016384,0.802816
9,res1a/branch2b/conv,"(56, 56, 64)",0.115606,36864,200704,0.147456,0.802816
10,res1a/branch1/bn,"(56, 56, 64)",0.000000,128,200704,0.000512,0.802816
11,res1a/branch2b/bn,"(56, 56, 64)",0.000000,128,200704,0.000512,0.802816
12,res1a/sum,"(56, 56, 64)",0.000000,0,200704,0.000000,0.802816
13,res1a/relu,"(56, 56, 64)",0.000000,0,200704,0.000000,0.802816
14,res1b1/branch2a/conv,"(56, 56, 64)",0.115606,36864,200704,0.147456,0.802816
15,res1b1/branch2a/bn,"(56, 56, 64)",0.000000,128,200704,0.000512,0.802816
16,res1b1/branch2a/relu,"(56, 56, 64)",0.000000,0,200704,0.000000,0.802816
17,res1b1/branch2b/conv,"(56, 56, 64)",0.115606,36864,200704,0.147456,0.802816
18,res1b1/branch2b/bn,"(56, 56, 64)",0.000000,128,200704,0.000512,0.802816
19,res1b1/sum,"(56, 56, 64)",0.000000,0,200704,0.000000,0.802816
20,res1b1/relu,"(56, 56, 64)",0.000000,0,200704,0.000000,0.802816
21,res1b2/branch2a/conv,"(56, 56, 64)",0.115606,36864,200704,0.147456,0.802816
22,res1b2/branch2a/bn,"(56, 56, 64)",0.000000,128,200704,0.000512,0.802816
23,res1b2/branch2a/relu,"(56, 56, 64)",0.000000,0,200704,0.000000,0.802816
24,res1b2/branch2b/conv,"(56, 56, 64)",0.115606,36864,200704,0.147456,0.802816
25,res1b2/branch2b/bn,"(56, 56, 64)",0.000000,128,200704,0.000512,0.802816
26,res1b2/sum,"(56, 56, 64)",0.000000,0,200704,0.000000,0.802816
27,res1b2/relu,"(56, 56, 64)",0.000000,0,200704,0.000000,0.802816
28,res2a/branch2a/conv,"(28, 28, 128)",0.057803,73728,100352,0.294912,0.401408
29,res2a/branch2a/bn,"(28, 28, 128)",0.000000,256,100352,0.001024,0.401408
...,...,...,...,...,...,...,...
99,res3b5/branch2b/bn,"(14, 14, 256)",0.000000,512,50176,0.002048,0.200704
100,res3b5/sum,"(14, 14, 256)",0.000000,0,50176,0.000000,0.200704
101,res3b5/relu,"(14, 14, 256)",0.000000,0,50176,0.000000,0.200704
102,res4a/branch2a/conv,"(7, 7, 512)",0.057803,1179648,25088,4.718592,0.100352
103,res4a/branch2a/bn,"(7, 7, 512)",0.000000,1024,25088,0.004096,0.100352
104,res4a/branch2a/relu,"(7, 7, 512)",0.000000,0,25088,0.000000,0.100352
105,res4a/branch1/conv,"(7, 7, 512)",0.006423,131072,25088,0.524288,0.100352
106,res4a/branch2b/conv,"(7, 7, 512)",0.115606,2359296,25088,9.437184,0.100352
107,res4a/branch1/bn,"(7, 7, 512)",0.000000,1024,25088,0.004096,0.100352
108,res4a/branch2b/bn,"(7, 7, 512)",0.000000,1024,25088,0.004096,0.100352
109,res4a/sum,"(7, 7, 512)",0.000000,0,25088,0.000000,0.100352
110,res4a/relu,"(7, 7, 512)",0.000000,0,25088,0.000000,0.100352
111,res4b1/branch2a/conv,"(7, 7, 512)",0.115606,2359296,25088,9.437184,0.100352
112,res4b1/branch2a/bn,"(7, 7, 512)",0.000000,1024,25088,0.004096,0.100352
113,res4b1/branch2a/relu,"(7, 7, 512)",0.000000,0,25088,0.000000,0.100352
114,res4b1/branch2b/conv,"(7, 7, 512)",0.115606,2359296,25088,9.437184,0.100352
115,res4b1/branch2b/bn,"(7, 7, 512)",0.000000,1024,25088,0.004096,0.100352
116,res4b1/sum,"(7, 7, 512)",0.000000,0,25088,0.000000,0.100352
117,res4b1/relu,"(7, 7, 512)",0.000000,0,25088,0.000000,0.100352
118,res4b2/branch2a/conv,"(7, 7, 512)",0.115606,2359296,25088,9.437184,0.100352
119,res4b2/branch2a/bn,"(7, 7, 512)",0.000000,1024,25088,0.004096,0.100352
120,res4b2/branch2a/relu,"(7, 7, 512)",0.000000,0,25088,0.000000,0.100352
121,res4b2/branch2b/conv,"(7, 7, 512)",0.115606,2359296,25088,9.437184,0.100352
122,res4b2/branch2b/bn,"(7, 7, 512)",0.000000,1024,25088,0.004096,0.100352
123,res4b2/sum,"(7, 7, 512)",0.000000,0,25088,0.000000,0.100352
124,res4b2/relu,"(7, 7, 512)",0.000000,0,25088,0.000000,0.100352
125,apool,"(1, 1, 512)",0.000000,0,512,0.000000,0.002048
126,flatten,"(512,)",0.000000,0,512,0.000000,0.002048
127,output,"(1000,)",0.000512,513000,2000,2.052000,0.008000
128,TOTAL,"(1000,)",3.676606,21819048,13174224,87.276192,52.696896

### [ResNet50](http://ethereon.github.io/netscope/#/gist/db945b393d40bfa26006)

In [14]:
estimate(models.ResNet(version='resnet50'), inference, training)

Layer not recognized (type=<class 'tensorflow.python.keras.engine.input_layer.InputLayer'>, name=input)

,name,out_shape,gFLOPs,num_params,num_activations,params_mem (MB),activations_mem (MB)
0,input,"(224, 224, 3)",0.000000,0,150528,0.000000,0.602112
1,conv1/conv,"(112, 112, 64)",0.118014,9408,802816,0.037632,3.211264
2,conv1/bn,"(112, 112, 64)",0.000000,128,802816,0.000512,3.211264
3,conv1/relu,"(112, 112, 64)",0.000000,0,802816,0.000000,3.211264
4,conv1/mpool,"(56, 56, 64)",0.000000,0,200704,0.000000,0.802816
5,res1a/branch2a/conv,"(56, 56, 64)",0.012845,4096,200704,0.016384,0.802816
6,res1a/branch2a/bn,"(56, 56, 64)",0.000000,128,200704,0.000512,0.802816
7,res1a/branch2a/relu,"(56, 56, 64)",0.000000,0,200704,0.000000,0.802816
8,res1a/branch2b/conv,"(56, 56, 64)",0.115606,36864,200704,0.147456,0.802816
9,res1a/branch2b/bn,"(56, 56, 64)",0.000000,128,200704,0.000512,0.802816
10,res1a/branch2b/relu,"(56, 56, 64)",0.000000,0,200704,0.000000,0.802816
11,res1a/branch1/conv,"(56, 56, 256)",0.051380,16384,802816,0.065536,3.211264
12,res1a/branch2c/conv,"(56, 56, 256)",0.051380,16384,802816,0.065536,3.211264
13,res1a/branch1/bn,"(56, 56, 256)",0.000000,512,802816,0.002048,3.211264
14,res1a/branch2c/bn,"(56, 56, 256)",0.000000,512,802816,0.002048,3.211264
15,res1a/sum,"(56, 56, 256)",0.000000,0,802816,0.000000,3.211264
16,res1a/relu,"(56, 56, 256)",0.000000,0,802816,0.000000,3.211264
17,res1b1/branch2a/conv,"(56, 56, 64)",0.051380,16384,200704,0.065536,0.802816
18,res1b1/branch2a/bn,"(56, 56, 64)",0.000000,128,200704,0.000512,0.802816
19,res1b1/branch2a/relu,"(56, 56, 64)",0.000000,0,200704,0.000000,0.802816
20,res1b1/branch2b/conv,"(56, 56, 64)",0.115606,36864,200704,0.147456,0.802816
21,res1b1/branch2b/bn,"(56, 56, 64)",0.000000,128,200704,0.000512,0.802816
22,res1b1/branch2b/relu,"(56, 56, 64)",0.000000,0,200704,0.000000,0.802816
23,res1b1/branch2c/conv,"(56, 56, 256)",0.051380,16384,802816,0.065536,3.211264
24,res1b1/branch2c/bn,"(56, 56, 256)",0.000000,512,802816,0.002048,3.211264
25,res1b1/sum,"(56, 56, 256)",0.000000,0,802816,0.000000,3.211264
26,res1b1/relu,"(56, 56, 256)",0.000000,0,802816,0.000000,3.211264
27,res1b2/branch2a/conv,"(56, 56, 64)",0.051380,16384,200704,0.065536,0.802816
28,res1b2/branch2a/bn,"(56, 56, 64)",0.000000,128,200704,0.000512,0.802816
29,res1b2/branch2a/relu,"(56, 56, 64)",0.000000,0,200704,0.000000,0.802816
...,...,...,...,...,...,...,...
147,res4a/branch1/conv,"(7, 7, 2048)",0.102760,2097152,100352,8.388608,0.401408
148,res4a/branch2c/conv,"(7, 7, 2048)",0.051380,1048576,100352,4.194304,0.401408
149,res4a/branch1/bn,"(7, 7, 2048)",0.000000,4096,100352,0.016384,0.401408
150,res4a/branch2c/bn,"(7, 7, 2048)",0.000000,4096,100352,0.016384,0.401408
151,res4a/sum,"(7, 7, 2048)",0.000000,0,100352,0.000000,0.401408
152,res4a/relu,"(7, 7, 2048)",0.000000,0,100352,0.000000,0.401408
153,res4b1/branch2a/conv,"(7, 7, 512)",0.051380,1048576,25088,4.194304,0.100352
154,res4b1/branch2a/bn,"(7, 7, 512)",0.000000,1024,25088,0.004096,0.100352
155,res4b1/branch2a/relu,"(7, 7, 512)",0.000000,0,25088,0.000000,0.100352
156,res4b1/branch2b/conv,"(7, 7, 512)",0.115606,2359296,25088,9.437184,0.100352
157,res4b1/branch2b/bn,"(7, 7, 512)",0.000000,1024,25088,0.004096,0.100352
158,res4b1/branch2b/relu,"(7, 7, 512)",0.000000,0,25088,0.000000,0.100352
159,res4b1/branch2c/conv,"(7, 7, 2048)",0.051380,1048576,100352,4.194304,0.401408
160,res4b1/branch2c/bn,"(7, 7, 2048)",0.000000,4096,100352,0.016384,0.401408
161,res4b1/sum,"(7, 7, 2048)",0.000000,0,100352,0.000000,0.401408
162,res4b1/relu,"(7, 7, 2048)",0.000000,0,100352,0.000000,0.401408
163,res4b2/branch2a/conv,"(7, 7, 512)",0.051380,1048576,25088,4.194304,0.100352
164,res4b2/branch2a/bn,"(7, 7, 512)",0.000000,1024,25088,0.004096,0.100352
165,res4b2/branch2a/relu,"(7, 7, 512)",0.000000,0,25088,0.000000,0.100352
166,res4b2/branch2b/conv,"(7, 7, 512)",0.115606,2359296,25088,9.437184,0.100352
167,res4b2/branch2b/bn,"(7, 7, 512)",0.000000,1024,25088,0.004096,0.100352
168,res4b2/branch2b/relu,"(7, 7, 512)",0.000000,0,25088,0.000000,0.100352
169,res4b2/branch2c/conv,"(7, 7, 2048)",0.051380,1048576,100352,4.194304,0.401408
170,res4b2/branch2c/bn,"(7, 7, 2048)",0.000000,4096,100352,0.016384,0.401408
171,res4b2/sum,"(7, 7, 2048)",0.000000,0,100352,0.000000,0.401408
172,res4b2/relu,"(7, 7, 2048)",0.000000,0,100352,0.000000,0.401408
173,apool,"(1, 1, 2048)",0.000000,0,2048,0.000000,0.008192
174,flatten,"(2048,)",0.000000,0,2048,0.000000,0.008192
175,output,"(1000,)",0.002048,2049000,2000,8.196000,0.008000
176,TOTAL,"(1000,)",4.089184,25610152,37713360,102.440608,150.853440

### [ResNet101](http://ethereon.github.io/netscope/#/gist/b21e2aae116dc1ac7b50)

In [15]:
estimate(models.ResNet(version='resnet101'), inference, training)

Layer not recognized (type=<class 'tensorflow.python.keras.engine.input_layer.InputLayer'>, name=input)

,name,out_shape,gFLOPs,num_params,num_activations,params_mem (MB),activations_mem (MB)
0,input,"(224, 224, 3)",0.000000,0,150528,0.000000,0.602112
1,conv1/conv,"(112, 112, 64)",0.118014,9408,802816,0.037632,3.211264
2,conv1/bn,"(112, 112, 64)",0.000000,128,802816,0.000512,3.211264
3,conv1/relu,"(112, 112, 64)",0.000000,0,802816,0.000000,3.211264
4,conv1/mpool,"(56, 56, 64)",0.000000,0,200704,0.000000,0.802816
5,res1a/branch2a/conv,"(56, 56, 64)",0.012845,4096,200704,0.016384,0.802816
6,res1a/branch2a/bn,"(56, 56, 64)",0.000000,128,200704,0.000512,0.802816
7,res1a/branch2a/relu,"(56, 56, 64)",0.000000,0,200704,0.000000,0.802816
8,res1a/branch2b/conv,"(56, 56, 64)",0.115606,36864,200704,0.147456,0.802816
9,res1a/branch2b/bn,"(56, 56, 64)",0.000000,128,200704,0.000512,0.802816
10,res1a/branch2b/relu,"(56, 56, 64)",0.000000,0,200704,0.000000,0.802816
11,res1a/branch1/conv,"(56, 56, 256)",0.051380,16384,802816,0.065536,3.211264
12,res1a/branch2c/conv,"(56, 56, 256)",0.051380,16384,802816,0.065536,3.211264
13,res1a/branch1/bn,"(56, 56, 256)",0.000000,512,802816,0.002048,3.211264
14,res1a/branch2c/bn,"(56, 56, 256)",0.000000,512,802816,0.002048,3.211264
15,res1a/sum,"(56, 56, 256)",0.000000,0,802816,0.000000,3.211264
16,res1a/relu,"(56, 56, 256)",0.000000,0,802816,0.000000,3.211264
17,res1b1/branch2a/conv,"(56, 56, 64)",0.051380,16384,200704,0.065536,0.802816
18,res1b1/branch2a/bn,"(56, 56, 64)",0.000000,128,200704,0.000512,0.802816
19,res1b1/branch2a/relu,"(56, 56, 64)",0.000000,0,200704,0.000000,0.802816
20,res1b1/branch2b/conv,"(56, 56, 64)",0.115606,36864,200704,0.147456,0.802816
21,res1b1/branch2b/bn,"(56, 56, 64)",0.000000,128,200704,0.000512,0.802816
22,res1b1/branch2b/relu,"(56, 56, 64)",0.000000,0,200704,0.000000,0.802816
23,res1b1/branch2c/conv,"(56, 56, 256)",0.051380,16384,802816,0.065536,3.211264
24,res1b1/branch2c/bn,"(56, 56, 256)",0.000000,512,802816,0.002048,3.211264
25,res1b1/sum,"(56, 56, 256)",0.000000,0,802816,0.000000,3.211264
26,res1b1/relu,"(56, 56, 256)",0.000000,0,802816,0.000000,3.211264
27,res1b2/branch2a/conv,"(56, 56, 64)",0.051380,16384,200704,0.065536,0.802816
28,res1b2/branch2a/bn,"(56, 56, 64)",0.000000,128,200704,0.000512,0.802816
29,res1b2/branch2a/relu,"(56, 56, 64)",0.000000,0,200704,0.000000,0.802816
...,...,...,...,...,...,...,...
317,res4a/branch1/conv,"(7, 7, 2048)",0.102760,2097152,100352,8.388608,0.401408
318,res4a/branch2c/conv,"(7, 7, 2048)",0.051380,1048576,100352,4.194304,0.401408
319,res4a/branch1/bn,"(7, 7, 2048)",0.000000,4096,100352,0.016384,0.401408
320,res4a/branch2c/bn,"(7, 7, 2048)",0.000000,4096,100352,0.016384,0.401408
321,res4a/sum,"(7, 7, 2048)",0.000000,0,100352,0.000000,0.401408
322,res4a/relu,"(7, 7, 2048)",0.000000,0,100352,0.000000,0.401408
323,res4b1/branch2a/conv,"(7, 7, 512)",0.051380,1048576,25088,4.194304,0.100352
324,res4b1/branch2a/bn,"(7, 7, 512)",0.000000,1024,25088,0.004096,0.100352
325,res4b1/branch2a/relu,"(7, 7, 512)",0.000000,0,25088,0.000000,0.100352
326,res4b1/branch2b/conv,"(7, 7, 512)",0.115606,2359296,25088,9.437184,0.100352
327,res4b1/branch2b/bn,"(7, 7, 512)",0.000000,1024,25088,0.004096,0.100352
328,res4b1/branch2b/relu,"(7, 7, 512)",0.000000,0,25088,0.000000,0.100352
329,res4b1/branch2c/conv,"(7, 7, 2048)",0.051380,1048576,100352,4.194304,0.401408
330,res4b1/branch2c/bn,"(7, 7, 2048)",0.000000,4096,100352,0.016384,0.401408
331,res4b1/sum,"(7, 7, 2048)",0.000000,0,100352,0.000000,0.401408
332,res4b1/relu,"(7, 7, 2048)",0.000000,0,100352,0.000000,0.401408
333,res4b2/branch2a/conv,"(7, 7, 512)",0.051380,1048576,25088,4.194304,0.100352
334,res4b2/branch2a/bn,"(7, 7, 512)",0.000000,1024,25088,0.004096,0.100352
335,res4b2/branch2a/relu,"(7, 7, 512)",0.000000,0,25088,0.000000,0.100352
336,res4b2/branch2b/conv,"(7, 7, 512)",0.115606,2359296,25088,9.437184,0.100352
337,res4b2/branch2b/bn,"(7, 7, 512)",0.000000,1024,25088,0.004096,0.100352
338,res4b2/branch2b/relu,"(7, 7, 512)",0.000000,0,25088,0.000000,0.100352
339,res4b2/branch2c/conv,"(7, 7, 2048)",0.051380,1048576,100352,4.194304,0.401408
340,res4b2/branch2c/bn,"(7, 7, 2048)",0.000000,4096,100352,0.016384,0.401408
341,res4b2/sum,"(7, 7, 2048)",0.000000,0,100352,0.000000,0.401408
342,res4b2/relu,"(7, 7, 2048)",0.000000,0,100352,0.000000,0.401408
343,apool,"(1, 1, 2048)",0.000000,0,2048,0.000000,0.008192
344,flatten,"(2048,)",0.000000,0,2048,0.000000,0.008192
345,output,"(1000,)",0.002048,2049000,2000,8.196000,0.008000
346,TOTAL,"(1000,)",7.801405,44654504,56479184,178.618016,225.916736

### [ResNet152](http://ethereon.github.io/netscope/#/gist/d38f3e6091952b45198b)

In [16]:
estimate(models.ResNet(version='resnet152'), inference, training)

Layer not recognized (type=<class 'tensorflow.python.keras.engine.input_layer.InputLayer'>, name=input)

,name,out_shape,gFLOPs,num_params,num_activations,params_mem (MB),activations_mem (MB)
0,input,"(224, 224, 3)",0.000000,0,150528,0.000000,0.602112
1,conv1/conv,"(112, 112, 64)",0.118014,9408,802816,0.037632,3.211264
2,conv1/bn,"(112, 112, 64)",0.000000,128,802816,0.000512,3.211264
3,conv1/relu,"(112, 112, 64)",0.000000,0,802816,0.000000,3.211264
4,conv1/mpool,"(56, 56, 64)",0.000000,0,200704,0.000000,0.802816
5,res1a/branch2a/conv,"(56, 56, 64)",0.012845,4096,200704,0.016384,0.802816
6,res1a/branch2a/bn,"(56, 56, 64)",0.000000,128,200704,0.000512,0.802816
7,res1a/branch2a/relu,"(56, 56, 64)",0.000000,0,200704,0.000000,0.802816
8,res1a/branch2b/conv,"(56, 56, 64)",0.115606,36864,200704,0.147456,0.802816
9,res1a/branch2b/bn,"(56, 56, 64)",0.000000,128,200704,0.000512,0.802816
10,res1a/branch2b/relu,"(56, 56, 64)",0.000000,0,200704,0.000000,0.802816
11,res1a/branch1/conv,"(56, 56, 256)",0.051380,16384,802816,0.065536,3.211264
12,res1a/branch2c/conv,"(56, 56, 256)",0.051380,16384,802816,0.065536,3.211264
13,res1a/branch1/bn,"(56, 56, 256)",0.000000,512,802816,0.002048,3.211264
14,res1a/branch2c/bn,"(56, 56, 256)",0.000000,512,802816,0.002048,3.211264
15,res1a/sum,"(56, 56, 256)",0.000000,0,802816,0.000000,3.211264
16,res1a/relu,"(56, 56, 256)",0.000000,0,802816,0.000000,3.211264
17,res1b1/branch2a/conv,"(56, 56, 64)",0.051380,16384,200704,0.065536,0.802816
18,res1b1/branch2a/bn,"(56, 56, 64)",0.000000,128,200704,0.000512,0.802816
19,res1b1/branch2a/relu,"(56, 56, 64)",0.000000,0,200704,0.000000,0.802816
20,res1b1/branch2b/conv,"(56, 56, 64)",0.115606,36864,200704,0.147456,0.802816
21,res1b1/branch2b/bn,"(56, 56, 64)",0.000000,128,200704,0.000512,0.802816
22,res1b1/branch2b/relu,"(56, 56, 64)",0.000000,0,200704,0.000000,0.802816
23,res1b1/branch2c/conv,"(56, 56, 256)",0.051380,16384,802816,0.065536,3.211264
24,res1b1/branch2c/bn,"(56, 56, 256)",0.000000,512,802816,0.002048,3.211264
25,res1b1/sum,"(56, 56, 256)",0.000000,0,802816,0.000000,3.211264
26,res1b1/relu,"(56, 56, 256)",0.000000,0,802816,0.000000,3.211264
27,res1b2/branch2a/conv,"(56, 56, 64)",0.051380,16384,200704,0.065536,0.802816
28,res1b2/branch2a/bn,"(56, 56, 64)",0.000000,128,200704,0.000512,0.802816
29,res1b2/branch2a/relu,"(56, 56, 64)",0.000000,0,200704,0.000000,0.802816
...,...,...,...,...,...,...,...
487,res4a/branch1/conv,"(7, 7, 2048)",0.102760,2097152,100352,8.388608,0.401408
488,res4a/branch2c/conv,"(7, 7, 2048)",0.051380,1048576,100352,4.194304,0.401408
489,res4a/branch1/bn,"(7, 7, 2048)",0.000000,4096,100352,0.016384,0.401408
490,res4a/branch2c/bn,"(7, 7, 2048)",0.000000,4096,100352,0.016384,0.401408
491,res4a/sum,"(7, 7, 2048)",0.000000,0,100352,0.000000,0.401408
492,res4a/relu,"(7, 7, 2048)",0.000000,0,100352,0.000000,0.401408
493,res4b1/branch2a/conv,"(7, 7, 512)",0.051380,1048576,25088,4.194304,0.100352
494,res4b1/branch2a/bn,"(7, 7, 512)",0.000000,1024,25088,0.004096,0.100352
495,res4b1/branch2a/relu,"(7, 7, 512)",0.000000,0,25088,0.000000,0.100352
496,res4b1/branch2b/conv,"(7, 7, 512)",0.115606,2359296,25088,9.437184,0.100352
497,res4b1/branch2b/bn,"(7, 7, 512)",0.000000,1024,25088,0.004096,0.100352
498,res4b1/branch2b/relu,"(7, 7, 512)",0.000000,0,25088,0.000000,0.100352
499,res4b1/branch2c/conv,"(7, 7, 2048)",0.051380,1048576,100352,4.194304,0.401408
500,res4b1/branch2c/bn,"(7, 7, 2048)",0.000000,4096,100352,0.016384,0.401408
501,res4b1/sum,"(7, 7, 2048)",0.000000,0,100352,0.000000,0.401408
502,res4b1/relu,"(7, 7, 2048)",0.000000,0,100352,0.000000,0.401408
503,res4b2/branch2a/conv,"(7, 7, 512)",0.051380,1048576,25088,4.194304,0.100352
504,res4b2/branch2a/bn,"(7, 7, 512)",0.000000,1024,25088,0.004096,0.100352
505,res4b2/branch2a/relu,"(7, 7, 512)",0.000000,0,25088,0.000000,0.100352
506,res4b2/branch2b/conv,"(7, 7, 512)",0.115606,2359296,25088,9.437184,0.100352
507,res4b2/branch2b/bn,"(7, 7, 512)",0.000000,1024,25088,0.004096,0.100352
508,res4b2/branch2b/relu,"(7, 7, 512)",0.000000,0,25088,0.000000,0.100352
509,res4b2/branch2c/conv,"(7, 7, 2048)",0.051380,1048576,100352,4.194304,0.401408
510,res4b2/branch2c/bn,"(7, 7, 2048)",0.000000,4096,100352,0.016384,0.401408
511,res4b2/sum,"(7, 7, 2048)",0.000000,0,100352,0.000000,0.401408
512,res4b2/relu,"(7, 7, 2048)",0.000000,0,100352,0.000000,0.401408
513,apool,"(1, 1, 2048)",0.000000,0,2048,0.000000,0.008192
514,flatten,"(2048,)",0.000000,0,2048,0.000000,0.008192
515,output,"(1000,)",0.002048,2049000,2000,8.196000,0.008000
516,TOTAL,"(1000,)",11.513627,60344232,79660496,241.376928,318.641984

### [ResNet200](http://ethereon.github.io/netscope/#/gist/38a20d8dd1a4725d12659c8e313ab2c7)

In [17]:
estimate(models.ResNet(version='resnet200'), inference, training)

Layer not recognized (type=<class 'tensorflow.python.keras.engine.input_layer.InputLayer'>, name=input)

,name,out_shape,gFLOPs,num_params,num_activations,params_mem (MB),activations_mem (MB)
0,input,"(224, 224, 3)",0.000000,0,150528,0.000000,0.602112
1,conv1/conv,"(112, 112, 64)",0.118014,9408,802816,0.037632,3.211264
2,conv1/bn,"(112, 112, 64)",0.000000,128,802816,0.000512,3.211264
3,conv1/relu,"(112, 112, 64)",0.000000,0,802816,0.000000,3.211264
4,conv1/mpool,"(56, 56, 64)",0.000000,0,200704,0.000000,0.802816
5,res1a/branch2a/conv,"(56, 56, 64)",0.012845,4096,200704,0.016384,0.802816
6,res1a/branch2a/bn,"(56, 56, 64)",0.000000,128,200704,0.000512,0.802816
7,res1a/branch2a/relu,"(56, 56, 64)",0.000000,0,200704,0.000000,0.802816
8,res1a/branch2b/conv,"(56, 56, 64)",0.115606,36864,200704,0.147456,0.802816
9,res1a/branch2b/bn,"(56, 56, 64)",0.000000,128,200704,0.000512,0.802816
10,res1a/branch2b/relu,"(56, 56, 64)",0.000000,0,200704,0.000000,0.802816
11,res1a/branch1/conv,"(56, 56, 256)",0.051380,16384,802816,0.065536,3.211264
12,res1a/branch2c/conv,"(56, 56, 256)",0.051380,16384,802816,0.065536,3.211264
13,res1a/branch1/bn,"(56, 56, 256)",0.000000,512,802816,0.002048,3.211264
14,res1a/branch2c/bn,"(56, 56, 256)",0.000000,512,802816,0.002048,3.211264
15,res1a/sum,"(56, 56, 256)",0.000000,0,802816,0.000000,3.211264
16,res1a/relu,"(56, 56, 256)",0.000000,0,802816,0.000000,3.211264
17,res1b1/branch2a/conv,"(56, 56, 64)",0.051380,16384,200704,0.065536,0.802816
18,res1b1/branch2a/bn,"(56, 56, 64)",0.000000,128,200704,0.000512,0.802816
19,res1b1/branch2a/relu,"(56, 56, 64)",0.000000,0,200704,0.000000,0.802816
20,res1b1/branch2b/conv,"(56, 56, 64)",0.115606,36864,200704,0.147456,0.802816
21,res1b1/branch2b/bn,"(56, 56, 64)",0.000000,128,200704,0.000512,0.802816
22,res1b1/branch2b/relu,"(56, 56, 64)",0.000000,0,200704,0.000000,0.802816
23,res1b1/branch2c/conv,"(56, 56, 256)",0.051380,16384,802816,0.065536,3.211264
24,res1b1/branch2c/bn,"(56, 56, 256)",0.000000,512,802816,0.002048,3.211264
25,res1b1/sum,"(56, 56, 256)",0.000000,0,802816,0.000000,3.211264
26,res1b1/relu,"(56, 56, 256)",0.000000,0,802816,0.000000,3.211264
27,res1b2/branch2a/conv,"(56, 56, 64)",0.051380,16384,200704,0.065536,0.802816
28,res1b2/branch2a/bn,"(56, 56, 64)",0.000000,128,200704,0.000512,0.802816
29,res1b2/branch2a/relu,"(56, 56, 64)",0.000000,0,200704,0.000000,0.802816
...,...,...,...,...,...,...,...
647,res4a/branch1/conv,"(7, 7, 2048)",0.102760,2097152,100352,8.388608,0.401408
648,res4a/branch2c/conv,"(7, 7, 2048)",0.051380,1048576,100352,4.194304,0.401408
649,res4a/branch1/bn,"(7, 7, 2048)",0.000000,4096,100352,0.016384,0.401408
650,res4a/branch2c/bn,"(7, 7, 2048)",0.000000,4096,100352,0.016384,0.401408
651,res4a/sum,"(7, 7, 2048)",0.000000,0,100352,0.000000,0.401408
652,res4a/relu,"(7, 7, 2048)",0.000000,0,100352,0.000000,0.401408
653,res4b1/branch2a/conv,"(7, 7, 512)",0.051380,1048576,25088,4.194304,0.100352
654,res4b1/branch2a/bn,"(7, 7, 512)",0.000000,1024,25088,0.004096,0.100352
655,res4b1/branch2a/relu,"(7, 7, 512)",0.000000,0,25088,0.000000,0.100352
656,res4b1/branch2b/conv,"(7, 7, 512)",0.115606,2359296,25088,9.437184,0.100352
657,res4b1/branch2b/bn,"(7, 7, 512)",0.000000,1024,25088,0.004096,0.100352
658,res4b1/branch2b/relu,"(7, 7, 512)",0.000000,0,25088,0.000000,0.100352
659,res4b1/branch2c/conv,"(7, 7, 2048)",0.051380,1048576,100352,4.194304,0.401408
660,res4b1/branch2c/bn,"(7, 7, 2048)",0.000000,4096,100352,0.016384,0.401408
661,res4b1/sum,"(7, 7, 2048)",0.000000,0,100352,0.000000,0.401408
662,res4b1/relu,"(7, 7, 2048)",0.000000,0,100352,0.000000,0.401408
663,res4b2/branch2a/conv,"(7, 7, 512)",0.051380,1048576,25088,4.194304,0.100352
664,res4b2/branch2a/bn,"(7, 7, 512)",0.000000,1024,25088,0.004096,0.100352
665,res4b2/branch2a/relu,"(7, 7, 512)",0.000000,0,25088,0.000000,0.100352
666,res4b2/branch2b/conv,"(7, 7, 512)",0.115606,2359296,25088,9.437184,0.100352
667,res4b2/branch2b/bn,"(7, 7, 512)",0.000000,1024,25088,0.004096,0.100352
668,res4b2/branch2b/relu,"(7, 7, 512)",0.000000,0,25088,0.000000,0.100352
669,res4b2/branch2c/conv,"(7, 7, 2048)",0.051380,1048576,100352,4.194304,0.401408
670,res4b2/branch2c/bn,"(7, 7, 2048)",0.000000,4096,100352,0.016384,0.401408
671,res4b2/sum,"(7, 7, 2048)",0.000000,0,100352,0.000000,0.401408
672,res4b2/relu,"(7, 7, 2048)",0.000000,0,100352,0.000000,0.401408
673,apool,"(1, 1, 2048)",0.000000,0,2048,0.000000,0.008192
674,flatten,"(2048,)",0.000000,0,2048,0.000000,0.008192
675,output,"(1000,)",0.002048,2049000,2000,8.196000,0.008000
676,TOTAL,"(1000,)",15.007482,64849832,114984400,259.399328,459.937600

### [ResNet269](http://ethereon.github.io/netscope/#/gist/fbf7c67565523a9ac2c349aa89c5e78d)

In [18]:
estimate(models.ResNet(version='resnet269'), inference, training)

Layer not recognized (type=<class 'tensorflow.python.keras.engine.input_layer.InputLayer'>, name=input)

,name,out_shape,gFLOPs,num_params,num_activations,params_mem (MB),activations_mem (MB)
0,input,"(224, 224, 3)",0.000000,0,150528,0.000000,0.602112
1,conv1/conv,"(112, 112, 64)",0.118014,9408,802816,0.037632,3.211264
2,conv1/bn,"(112, 112, 64)",0.000000,128,802816,0.000512,3.211264
3,conv1/relu,"(112, 112, 64)",0.000000,0,802816,0.000000,3.211264
4,conv1/mpool,"(56, 56, 64)",0.000000,0,200704,0.000000,0.802816
5,res1a/branch2a/conv,"(56, 56, 64)",0.012845,4096,200704,0.016384,0.802816
6,res1a/branch2a/bn,"(56, 56, 64)",0.000000,128,200704,0.000512,0.802816
7,res1a/branch2a/relu,"(56, 56, 64)",0.000000,0,200704,0.000000,0.802816
8,res1a/branch2b/conv,"(56, 56, 64)",0.115606,36864,200704,0.147456,0.802816
9,res1a/branch2b/bn,"(56, 56, 64)",0.000000,128,200704,0.000512,0.802816
10,res1a/branch2b/relu,"(56, 56, 64)",0.000000,0,200704,0.000000,0.802816
11,res1a/branch1/conv,"(56, 56, 256)",0.051380,16384,802816,0.065536,3.211264
12,res1a/branch2c/conv,"(56, 56, 256)",0.051380,16384,802816,0.065536,3.211264
13,res1a/branch1/bn,"(56, 56, 256)",0.000000,512,802816,0.002048,3.211264
14,res1a/branch2c/bn,"(56, 56, 256)",0.000000,512,802816,0.002048,3.211264
15,res1a/sum,"(56, 56, 256)",0.000000,0,802816,0.000000,3.211264
16,res1a/relu,"(56, 56, 256)",0.000000,0,802816,0.000000,3.211264
17,res1b1/branch2a/conv,"(56, 56, 64)",0.051380,16384,200704,0.065536,0.802816
18,res1b1/branch2a/bn,"(56, 56, 64)",0.000000,128,200704,0.000512,0.802816
19,res1b1/branch2a/relu,"(56, 56, 64)",0.000000,0,200704,0.000000,0.802816
20,res1b1/branch2b/conv,"(56, 56, 64)",0.115606,36864,200704,0.147456,0.802816
21,res1b1/branch2b/bn,"(56, 56, 64)",0.000000,128,200704,0.000512,0.802816
22,res1b1/branch2b/relu,"(56, 56, 64)",0.000000,0,200704,0.000000,0.802816
23,res1b1/branch2c/conv,"(56, 56, 256)",0.051380,16384,802816,0.065536,3.211264
24,res1b1/branch2c/bn,"(56, 56, 256)",0.000000,512,802816,0.002048,3.211264
25,res1b1/sum,"(56, 56, 256)",0.000000,0,802816,0.000000,3.211264
26,res1b1/relu,"(56, 56, 256)",0.000000,0,802816,0.000000,3.211264
27,res1b2/branch2a/conv,"(56, 56, 64)",0.051380,16384,200704,0.065536,0.802816
28,res1b2/branch2a/bn,"(56, 56, 64)",0.000000,128,200704,0.000512,0.802816
29,res1b2/branch2a/relu,"(56, 56, 64)",0.000000,0,200704,0.000000,0.802816
...,...,...,...,...,...,...,...
877,res4b5/branch2b/bn,"(7, 7, 512)",0.000000,1024,25088,0.004096,0.100352
878,res4b5/branch2b/relu,"(7, 7, 512)",0.000000,0,25088,0.000000,0.100352
879,res4b5/branch2c/conv,"(7, 7, 2048)",0.051380,1048576,100352,4.194304,0.401408
880,res4b5/branch2c/bn,"(7, 7, 2048)",0.000000,4096,100352,0.016384,0.401408
881,res4b5/sum,"(7, 7, 2048)",0.000000,0,100352,0.000000,0.401408
882,res4b5/relu,"(7, 7, 2048)",0.000000,0,100352,0.000000,0.401408
883,res4b6/branch2a/conv,"(7, 7, 512)",0.051380,1048576,25088,4.194304,0.100352
884,res4b6/branch2a/bn,"(7, 7, 512)",0.000000,1024,25088,0.004096,0.100352
885,res4b6/branch2a/relu,"(7, 7, 512)",0.000000,0,25088,0.000000,0.100352
886,res4b6/branch2b/conv,"(7, 7, 512)",0.115606,2359296,25088,9.437184,0.100352
887,res4b6/branch2b/bn,"(7, 7, 512)",0.000000,1024,25088,0.004096,0.100352
888,res4b6/branch2b/relu,"(7, 7, 512)",0.000000,0,25088,0.000000,0.100352
889,res4b6/branch2c/conv,"(7, 7, 2048)",0.051380,1048576,100352,4.194304,0.401408
890,res4b6/branch2c/bn,"(7, 7, 2048)",0.000000,4096,100352,0.016384,0.401408
891,res4b6/sum,"(7, 7, 2048)",0.000000,0,100352,0.000000,0.401408
892,res4b6/relu,"(7, 7, 2048)",0.000000,0,100352,0.000000,0.401408
893,res4b7/branch2a/conv,"(7, 7, 512)",0.051380,1048576,25088,4.194304,0.100352
894,res4b7/branch2a/bn,"(7, 7, 512)",0.000000,1024,25088,0.004096,0.100352
895,res4b7/branch2a/relu,"(7, 7, 512)",0.000000,0,25088,0.000000,0.100352
896,res4b7/branch2b/conv,"(7, 7, 512)",0.115606,2359296,25088,9.437184,0.100352
897,res4b7/branch2b/bn,"(7, 7, 512)",0.000000,1024,25088,0.004096,0.100352
898,res4b7/branch2b/relu,"(7, 7, 512)",0.000000,0,25088,0.000000,0.100352
899,res4b7/branch2c/conv,"(7, 7, 2048)",0.051380,1048576,100352,4.194304,0.401408
900,res4b7/branch2c/bn,"(7, 7, 2048)",0.000000,4096,100352,0.016384,0.401408
901,res4b7/sum,"(7, 7, 2048)",0.000000,0,100352,0.000000,0.401408
902,res4b7/relu,"(7, 7, 2048)",0.000000,0,100352,0.000000,0.401408
903,apool,"(1, 1, 2048)",0.000000,0,2048,0.000000,0.008192
904,flatten,"(2048,)",0.000000,0,2048,0.000000,0.008192
905,output,"(1000,)",0.002048,2049000,2000,8.196000,0.008000
906,TOTAL,"(1000,)",20.029899,102326184,144237008,409.304736,576.948032

# Summary

* Input shape column does not include batch dimension which is always the first dimensions.
* `GFLOPs` are multiply-add operations for batch size 1 for one inference or one training pass. These values should be used to compute times, instead, use them for comparing models.
* Activation size is the memory requried to store activations (batch size 1). The algorithm that's now used to estimate these numbers is very naive and, again, use these numbers to compare models.

## Inference

In [19]:
printable_dataframe(inference)

,Model,Input shape,#Parameters,Model size (MB) FP32,GFLOPs (multiply-add),Activation size (MB) FP32
0,EnglishAcousticModel,"(540,)",34678784,138.715136,0.034660,0.149616
1,AlexNet,"(227, 227, 3)",62378344,249.513376,1.135256,6.452012
2,AlexNetOWT,"(227, 227, 3)",61100840,244.403360,0.714188,4.994732
3,DeepMNIST,"(28, 28, 1)",11972510,47.890040,0.011965,0.066352
4,VGG11,"(224, 224, 3)",132863336,531.453344,7.609090,66.338624
5,VGG13,"(224, 224, 3)",133047848,532.191392,11.308466,104.873792
6,VGG16,"(224, 224, 3)",138357544,553.430176,15.470264,115.310400
7,VGG19,"(224, 224, 3)",143667240,574.668960,19.632062,125.747008
8,Overfeat,"(231, 231, 3)",145920872,583.683488,2.801404,8.014988
9,ResNet18,"(224, 224, 3)",11703464,46.813856,1.826918,35.135296
10,ResNet34,"(224, 224, 3)",21819048,87.276192,3.676606,52.696896
11,ResNet50,"(224, 224, 3)",25610152,102.440608,4.089184,150.853440
12,ResNet101,"(224, 224, 3)",44654504,178.618016,7.801405,225.916736
13,ResNet152,"(224, 224, 3)",60344232,241.376928,11.513627,318.641984
14,ResNet200,"(224, 224, 3)",64849832,259.399328,15.007482,459.937600
15,ResNet269,"(224, 224, 3)",102326184,409.304736,20.029899,576.948032

## Training

In [20]:
printable_dataframe(training)

,Model,Input shape,#Parameters,Model size (MB) FP32,GFLOPs (multiply-add),Activation size (MB) FP32
0,EnglishAcousticModel,"(540,)",34678784,138.715136,0.103981,0.299232
1,AlexNet,"(227, 227, 3)",62378344,249.513376,3.405768,12.904024
2,AlexNetOWT,"(227, 227, 3)",61100840,244.403360,2.142565,9.989464
3,DeepMNIST,"(28, 28, 1)",11972510,47.890040,0.035895,0.132704
4,VGG11,"(224, 224, 3)",132863336,531.453344,22.827270,132.677248
5,VGG13,"(224, 224, 3)",133047848,532.191392,33.925399,209.747584
6,VGG16,"(224, 224, 3)",138357544,553.430176,46.410793,230.620800
7,VGG19,"(224, 224, 3)",143667240,574.668960,58.896187,251.494016
8,Overfeat,"(231, 231, 3)",145920872,583.683488,8.404212,16.029976
9,ResNet18,"(224, 224, 3)",11703464,46.813856,5.480755,70.270592
10,ResNet34,"(224, 224, 3)",21819048,87.276192,11.029819,105.393792
11,ResNet50,"(224, 224, 3)",25610152,102.440608,12.267553,301.706880
12,ResNet101,"(224, 224, 3)",44654504,178.618016,23.404216,451.833472
13,ResNet152,"(224, 224, 3)",60344232,241.376928,34.540880,637.283968
14,ResNet200,"(224, 224, 3)",64849832,259.399328,45.022446,919.875200
15,ResNet269,"(224, 224, 3)",102326184,409.304736,60.089696,1153.896064